<section class="education" id="education">
    <h2 class="heading">My <span>Journey</span></h2>

    <div class="education-row">

        <div class="education-column">
            <h3 class="title">Education</h3>

            <div class="education-box">
                <div *ngFor="let education of educations" class="education-content">

                    <div class="content">
                        <div class="year">
                            <i class="bx bxs-calendar"></i> {{ education.startDate | date:'MM.yyyy' }} -
                            {{ education.endDate | date:'MM.yyyy' }}
                        </div>

                        <h3>{{ education.title }}</h3>
                        <p>{{ education.schoolName }}</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="education-column">
            <h3 class="title">Experience</h3>

            <div class="education-box">
                <div *ngFor="let experience of experiences" class="education-content">

                    <div class="content">
                        <div class="year">
                            <i class="bx bxs-calendar"></i> {{ experience.startDate | date:'MM.yyyy' }} -
                            {{ experience.endDate | date:'MM.yyyy' }}
                        </div>

                        <h3>{{ experience.title }}</h3>
                        <p>{{ experience.companyName }}</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>