<section class="about" id="about">
    <h2 class="heading">About <span>Me</span><span class="animate" style="--i:1;"></span></h2>

    <div class="about-img">
        <img src="/assets/about.jpg" alt="">
        <span class="circle-spin"></span>
    </div>

    <div class="about-content">
        <h3>Fullstack Developer!</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem.
        </p>

        <div class="btn-box btns">
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</section>