@import './../../../colors.scss';

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: $second-bg-color;
    padding-bottom: 6rem;

    .heading {
        position: relative;
        font-size: 5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .about-img {
        position: relative;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 90%;
            border-radius: 50%;
            border: .2rem solid $main-color;
        }

        .circle-spin {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border-top: .2rem solid $second-bg-color;
            border-bottom: .2rem solid $second-bg-color;
            border-left: .2rem solid $main-color;
            border-right: .2rem solid $main-color;
            animation: aboutSpinner 8s linear infinite;
        }
    }

    .about-content {
        text-align: center;

        h3 {
            font-size: 2.6rem;
        }

        p {
            font-size: 1.6rem;
            margin: 2rem 0 3rem;
        }

        .btn-box {
            &.btns {
                display: inline-block;
                width: 15rem;

                &::before {
                    background: $second-bg-color;
                }
            }
        }
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}