.technology-content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    div {
        flex-grow: 1;

        img {
            padding: 1rem;
            height: 6rem;
        }

        &:nth-child(3n) {
            filter: hue-rotate(350deg);
        }

        &:nth-child(3n - 1) {
            filter: hue-rotate(10deg);
        }
    }
}