<header class="header">
    <a href="#" class="logo">Anes S.<span class="animate" style="--i:1;"></span></a>

    <div class="bx bx-menu" id="menu-icon" (click)="openMenu()"><span class="animate" style="--i:2;"></span></div>

    <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#education">Education</a>
        <a href="#technology">Technology</a>
        <a href="#contact">Contact</a>

        <span class="active-nav"></span>
        <span class="animate" style="--i:2;"></span>
    </nav>
</header>

<app-home></app-home>

<app-about></app-about>

<app-education></app-education>

<app-technology></app-technology>

<app-contact></app-contact>

<footer class="footer">
    <div class="footer-text">
        <p>Copyright &copy; 2023 by Smayke95 | All Right Reserved.</p>
    </div>

    <div class="footer-iconTop">
        <a href="#" aria-label="Go to top"><i class="bx bx-up-arrow-alt"></i></a>
    </div>
</footer>