@import './../colors.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;

    &.sticky {
        background: $bg-color;
    }

    .logo {
        position: relative;
        font-size: 2.5rem;
        color: $text-color;
        font-weight: 600;
    }

    .navbar {
        position: relative;

        a {
            font-size: 1.7rem;
            color: $text-color;
            font-weight: 500;
            margin-left: 3.5rem;
            transition: .3s;

            &:hover,
            &:active {
                color: $main-color;
            }
        }
    }

    #menu-icon {
        position: relative;
        font-size: 3.6rem;
        color: $text-color;
        cursor: pointer;
        display: none;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: $bg-color;

    p {
        font-size: 1.6rem;
    }

    .footer-iconTop a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: .8rem;
        background: $main-color;
        border: .2rem solid $main-color;
        border-radius: .6rem;
        z-index: 1;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: $second-bg-color;
            z-index: -1;
            transition: .5s;
        }

        &:hover {
            &::before {
                width: 100%;
            }

            i {
                color: $main-color;
            }
        }

        i {
            font-size: 2.4rem;
            color: $bg-color;
            transition: .5s;
        }
    }
}